fastapi
uvicorn
pdfplumber
openai
python-multipart
numpy
PyPDF2
flask
requests
pip 
google-auth 
google-auth-oauthlib 
google-api-python-client  
python-dotenv
gunicorn
streamlit
langchain
faiss-cpu
langchain-community
